{
    email contact@solis-system.com
    log {
      output stdout
      format console
    }
}

homepage.localhost {
    reverse_proxy homepage:3000
}
api.localhost {
    reverse_proxy solisws_api:8000
}
solisws_pwa.localhost {
    reverse_proxy solisws_pwa:80
}
beta.api.localhost {
    reverse_proxy lolafrance_api:8000
}
beta.localhost {
    reverse_proxy lolafrance_pwa:80
}
mailpit.localhost {
    reverse_proxy mailpit:8025
}
registry.localhost {
    reverse_proxy registry:80
}
registry.localhost {
    reverse_proxy registry-ui:80
}
ws-a.localhost {
    reverse_proxy webdev-a:80
}
pma.localhost {
    reverse_proxy pma:80
}
n8n.localhost {
    reverse_proxy n8n:5678
}
uptime.localhost {
    reverse_proxy uptime:3001
}